/* Tailwind CSS 색상 커스텀 설정 */
@layer base {
  :root {
    --background: 240 10% 3.9%; /* zinc-950 */
    --surface: 240 5.9% 10%;    /* zinc-900 */
    --border: 240 5.9% 15%;     /* zinc-800 */
  }
}

/* 스크롤바 디자인 숨기기 모바일용 */
.overflow-x-auto::-webkit-scrollbar {
  display: none;
}